html, body {

    margin-left: 5%;
    margin-right: 5%;
    background: royalblue;

}

body section {

    height: 100%;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    margin: auto;
    box-shadow: 5px black;

}

.post {

    height: auto;
    width: 800px;
    background-color: darkgray;
    flex-grow: 4;
    margin-top: 20px;
    border-radius: 3%;
    box-shadow: 0px 1px darkslategray;

}

.content img {

    width: 800px;

}

.header {

    align-items: flex-start;
    flex-direction: row;

}

.date {

    margin-left: 590px;

}

.rating img {

    width: 30px;
    height: 30px;
    margin: 0px;
    border: 3px groove maroon;
    border-radius: 50%;

}
.header img {

    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.rating img:hover {

    box-shadow: 0px 5px 10px maroon;

}

p {

    font-family: "Old English Text MT", serif;
    font-size: 50px;

}

.date {

    font-family: "Old English Text MT", serif;
    font-size: 20px;

}




/* Login style */

.login-section {
    margin-top: 10%;
    height: 600px;
    width: 65%;
}

.logo-container {
    width: 100px;
    height: 100px;
    
    
}

.logo-container > img {
    size: 50%;
}

.text-container {
    text-align: center;
    line-height: 250%;
    margin-bottom: 20px;
}

.submit-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

form > div {
    height: 50px;
    margin: auto;
    text-align: center;
}