body {

    background: royalblue;
    margin: 0;
}



.nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

.nav-right {
    text-align: right;
}

.nav-left {
    text-align: left;
}

.nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

.nav div img {
    height: 100%;
}
.nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
.nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #e0e0e0;
}


.feed {
    margin-top: 50px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.feed > div {
    width: 80%;
    height: auto;
    background-color: darkgray;
    flex-grow: 4;
    margin-top: 20px;
    border-radius: 3%;
    box-shadow: 0 0 10px darkslategray;


}

.header {

    align-items: flex-start;
    flex-direction: row;

}

.content p {
    margin: 10px;

}

.content {
    align-content: center;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}


.rating img {

    width: 50px;
    height: 50px;
    border: 3px groove maroon;
    border-radius: 50%;

}

.rating img:hover {

    box-shadow: 0px 5px 10px maroon;

}

.rating button {
    background-color: Transparent;
    padding: 0 0 1% 1%;
    border: none;

}

.header img {

    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

p {

    font-family: "Old English Text MT", serif;
    font-size: 50px;

}

.date {

    font-family: "Old English Text MT", serif;
    font-size: 20px;
    color: gray;
    text-align: left;

}


/* Login style */

.login-section {

    background-color: #ffffff;
    align-items: center;
    height: 100%;
    width: 55%;
    margin-left: 21%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "Old English Text MT", serif;
    font-size: 20px;

}

.logo-container {

    width: 70px;
    height: 70px;
    
}

.logo-container > img {

    height: 200px;
    width: 200px;

}

.text-container {
    text-align: center;
    line-height: 250%;
    margin-bottom: 20px;
}

.submit-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

form > div {
    height: 50px;
    margin: auto;
    text-align: center;
}